<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="bg_mw">

    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/styles.css">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col">

                <div class="jumbotron text-center my-5">
                    <img class="imgj" src="/resources/img/logo.png" alt="logo">
                    <h1 class="display-5">¡Bienvenido Administrador!</h1>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger
                        container.</p>
                    <a class="btn btn-primary btn-lg" href="main.php" role="button">Continuar</a>
                </div>
            </div>
        </div>
        
    </div>
    </div>





    <script type="text/javascript" src="../../resources/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="../../resources/js/popper.min.js"></script>
    <script type="text/javascript" src="../../resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../resources/js/datatables.min.js"></script>
    <script type="text/javascript" src="../../core/helpers/components.js"></script>
</body>

</html>