<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Dashboard · '.$title.'</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="../../resources/css/all.min.css">
  <link type="text/css" rel="stylesheet" href="../../resources/css/commerce.css" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" media="all" href="../../resources/css/star-rating.css" />   
  <link type="image/png" rel="icon" href="../../resources/img/logo.png" />
</head>

<body class="d-flex flex-column">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="index.php">
        <img src="../../resources/img/logo.png" height="50" alt="vindeterre logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.php">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="productos.php">Vinos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="categorias.php">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus.php">Acerca de Nosotros</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <div class="searchbar">
              <input class="search_input" type="text" name="buscar" id="buscar" placeholder="Buscar...">
              <a href="search.php" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cart.php"><span><i class="far fa-shopping-cart"></i></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="signin.php">Crear cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.php">Iniciar sesión</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container-fluid flex-fill">
        <div class="stars-outer">
      <div class="stars-inner"></div>
    </div> 
  </main>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <h3>Mapa del sitio</h3>
          <ul class="list-unstyled  two-column">
            <li><a href="index.php">Inicio</a></li>
            <li><a href="productos.php">Productos</a></li>
            <li><a href="categorias.php">Categorias</a></li>
            <li><a href="aboutus.php">Acerca de Nosotros</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6">
          <h3>Información</h3>
          <dl class="row">
            <dt class="col-sm-3">Dirección</dt>
          </dl>
          <dl class="row">
            <dd class="col-sm-9">Calle la Mascota, #102, San Salvador, San Salvador, El Salvador</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Telefóno</dt>
          </dl>
          <dl class="row">
            <dd class="col-sm-9">+503 7732-3184</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Correo Electrónico</dt>
          </dl>
          <dl class="row">
            <dd class="col-sm-9">rodrigo-pineda@hotmail.com</dd>
          </dl>
        </div>
        <div class="col-lg-4">
          <h3>Redes Sociales</h3>
          <ul class="list-unstyled socila-list">
            <li><i class="fab fa-facebook" style="font-size: 48px;"></i></li>
            <li><i class="fab fa-twitter" style="font-size: 48px;"></i></li>
            <li><i class="fab fa-discord" style="font-size: 48px;"></i></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright text-center">
      Derechos Resevados &copy; 2020 <span>Vin de Terre</span>
    </div>
  </footer>
  <script type="text/javascript" src="../../resources/js/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="../../resources/js/popper.min.js"></script>
  <script type="text/javascript" src="../../resources/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
  <script type="text/javascript" src="../../core/helpers/components.js"></script>
  <script type="text/javascript" src="../../core/controllers/commerce/account.js"></script>
  <script type="text/javascript" src="../../core/controllers/commerce/'.$controller.'"></script>
  <script type="text/javascript" src="../../resources/js/star-rating.js"></script>
</body>

</html>